.center {
    margin: auto;
    max-width: 1000px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.able {
  color: #000;
  font-size: 16px;
}

.unable {
  color: #f00;
  font-size: 16px;
}

.ui-datepicker {
   background: #eee;
   border: 1px solid #555;
   color: #333;
 }
.ui-datepicker-current-day .ui-state-active { background: #ff0; }


h5, h512, h51, h52, h53, h54, h55, h551, h56, h561, h57, h58, h59, h6, h61, h62, h63, h64, h65, h66, h67, h68, h7, h71, h711, h712, h72, h73, h74, h8, h81, h811, h82, h821, h83, h84, h85, h9, h91, h92, h93, h94, h941, h95, h96, h96, h961, h962, h97, h98,  h981, h982, h99 { 
	//color: #555; 
	font-weight: normal; 	
}

h5 { font-size: 20px; margin: 0 0 10px; padding: 0;}
h512 { font-size: 20px; color: #A2371E; margin: 0 0 10px; padding: 0; }
h51 { font-size: 18px; color: #CF5912; margin: 0 0 10px; padding: 0; line-height: 28px; }
h52 { font-size: 16px;  margin: 0 0 10px; padding: 0; line-height: 24px; }
h53 { font-size: 18px; margin: 0 0 10px; padding: 0;  }
h54 { font-size: 16px; color: #ff0000; margin: 0 0 10px; padding: 0; line-height: 28px; }
h55 { font-size: 16px; color: #D04525; margin: 0 0 10px; padding: 0; line-height: 28px; }
h551 { font-size: 18px; color: #D04525; margin: 0 0 10px; padding: 0; line-height: 18px; }
h56 { font-size: 14px; color: #D04525; margin: 0 0 10px; padding: 0; line-height: 22px; }
h561 { font-size: 14px; color: #73AC65; margin: 0 0 10px; padding: 0; line-height: 28px; }
h57 { font-size: 13px; margin: 0 0 10px; padding: 0; line-height: 22px; }
h58 { font-size: 13px; color:000; margin: 0 0 10px; padding: 0; line-height: 22px; }
h59 { font-size: 19px; margin: 0 0 10px; padding: 0;}
h6 { font-size: 14px; margin: 0 0 0px; padding: 0; }
h61 { font-size: 11px; margin: 0 0 0px; line-height: 12px; }
h62 { font-size: 13px; color: #ACACAC;  margin: 0 0 5px; padding: 0; }
h63 { font-size: 13px; color: #939393;  margin: 0 0 5px; padding: 0; }
h64 { font-size: 15px; margin: 0 0 10px; padding: 0;  }
h65 { font-size: 12px; color: #CF5912; margin: 0 0 0px; padding: 0;  line-height: 12px;}
h66 { font-size: 13px; color: #555555;  margin: 0 0 0px; padding: 0; line-height: 15px; }
h67 { font-size: 13px; color: #CF5912; margin: 0 0 0px; padding: 0; }
h68 { font-size: 12px; margin: 0 0 0px; padding: 0; }
h7 { font-size: 16px; color: #CF5912; margin: 0 0 5px; padding: 0; }
h71 { font-size: 13px; color: #CF5912; margin: 0 0 5px; padding: 0; }
h711 { font-size: 15px; color: #CF5912; margin: 0 0 5px; padding: 0; }
h712 { font-size: 15px; margin: 0 0 5px; padding: 0; }
h72 { font-size: 13px; color: #dddddd; margin: 0 0 5px; padding: 0; }
h73 { font-size: 28px; padding: 30px; line-height:48px; }
h74 { font-size: 16px;  margin: 0 0 10px; padding: 0; line-height: 24px; }
h8 { font-size: 13px; margin: 0 0 0px; padding: 0; line-height: 22px; }
h81 { font-size: 13px; color: #D04525;  margin: 0 0 5px; padding: 0; line-height: 22px; }
h811 { font-size: 13px; color: #73AC65;  margin: 0; padding: 0;  }
h82 { font-size: 11px; color: #D04525;  margin: 0 0 5px; padding: 0px; }
h821 { font-size: 11px; color: #73AC65;  margin: 0 0 5px; padding: 0px; }
h83 { font-size: 14px; margin: 0 0 5px; padding: 0; line-height: 22px; }
h84 { font-size: 20px; color: #73AC65; margin: 0 0 0px; padding: 0; }
h85 { font-size: 14px; color: #73AC65; margin: 0 0 0px; padding: 0; }
h9 { font-size: 18px; color: #CF5912; margin: 0; padding: 0; line-height: 24px; text-decoration: none;  }
h91 { font-size: 11px; color: #e5a100; margin: 0 0 0px; padding: 0; }
h92 { font-size: 16px; color: #000000; margin: 0 0 10px; padding: 0; line-height: 22px; }
h93 { font-size: 18px; color: #D04525; margin: 0 0 10px; padding: 0; line-height: 28px; }
h94 { font-size: 11px; color: #ff0000; margin: 0 0 0px; padding: 0; line-height: 14px; }
h941 { font-size: 11px;  color: #D04525; margin: 0 0 0px; padding: 0; line-height: 12px; }
h95 { font-size: 13px; color: #ff0000; margin: 0 0 0px; padding: 0; }
h96 { font-size: 26px; color: #7160BF; margin: 0; padding: 0; line-height: 24px; }
h961 { font-size: 22px;  color: #3a3165; margin: 0; padding: 0; line-height: 24px; }
h962 { font-size: 22px; color: #D04525; margin: 0; padding: 0; line-height: 24px; }
h97 { font-size: 15px; color: #2C8638; margin: 0 0 0px; padding: 0; }
h98 { font-size: 18px; color: #7160BF; margin: 0 0 0px; padding: 0; }
h981 { font-size: 18px; color: #3a3165; margin: 0 0 0px; padding: 0; }
h982 { font-size: 15px; color: #1F5F27; margin: 0 0 0px; padding: 0; }
h99 { font-size: 15px; color: #D04525; margin: 0 0 0px; padding: 0; }

.cleaner { clear: both }
.h1 { height: 1px }
.h2 { height: 2px }
.h3 { height: 3px }
.h4 { height: 4px }
.h5 { height: 5px }
.h6 { height: 6px }
.h7 { height: 7px }
.h8 { height: 8px }
.h9 { height: 9px }
.h10 { height: 10px }
.h15 { height: 15px }
.h20 { height: 20px }
.h25 { height: 25px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a, a:link { 
	color: #e5a100; 
	font-weight: normal; 
	text-decoration: none; 
        cursor:pointer;
}

a:hover { 
	//text-decoration: underline; 
        cursor:pointer;
}

//a:active {  
//color: #ff0000;
//background-color: #ff0000;
//}

a:visited { 
	color: #e5a100; 
	font-weight: normal; 
	text-decoration: none; 
}

a.more {
  background: #F4DF11;
  background-image: -webkit-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: -moz-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: -ms-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: -o-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: linear-gradient(to bottom, #F4DF1f, #e5a100);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #f7f7f7;
  text-align: center; 
  font-family: Georgia;
  color: #000;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #b59848 1px;
  text-decoration: none;
  cursor: pointer;
}

a.more:hover { 
  background: #EDDA11;
  background-image: -webkit-linear-gradient(top, #f7e754, #F2B210);
  background-image: -moz-linear-gradient(top, #f7e754, #F2B210);
  background-image: -ms-linear-gradient(top, #f7e754, #F2B210);
  background-image: -o-linear-gradient(top, #f7e754, #F2B210);
  background-image: linear-gradient(to bottom, #f7e754, #F2B210);
  text-decoration: none;
}

a.w31 {
	color: #e5a100; 
	font-weight: normal; 
	text-decoration: none; 
        cursor:pointer;
}

a.w31:hover { 
cursor:pointer;
}

a.w32 {
	color: #333; 
	font-weight: 600; 
	text-decoration: none; 
        cursor:pointer;
}

a.w32:hover { 
cursor:pointer;
}

a.myButton123 {
  background: #F47611;
  background-image: -webkit-linear-gradient(top, #F4761f, #e5a100);
  background-image: -moz-linear-gradient(top, #F4761f, #e5a100);
  background-image: -ms-linear-gradient(top, #F4761f, #e5a100);
  background-image: -o-linear-gradient(top, #F4761f, #e5a100);
  background-image: linear-gradient(to bottom, #F4761f, #e5a100);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #f7f7f7;
  text-align: center; 
  font-family: Georgia;
  color: #000;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #b59848 1px;
  text-decoration: none;
  cursor: pointer;
}

a.myButton123:hover { 
  background: #EDDA11;
  background-image: -webkit-linear-gradient(top, #f7e754, #F2B210);
  background-image: -moz-linear-gradient(top, #f7e754, #F2B210);
  background-image: -ms-linear-gradient(top, #f7e754, #F2B210);
  background-image: -o-linear-gradient(top, #f7e754, #F2B210);
  background-image: linear-gradient(to bottom, #f7e754, #F2B210);
  text-decoration: none;
}


a.myButton456 {
	position: relative;
	display: block;
	padding: 10px 20px 10px 20px;
	color: #FFF;
	margin: 0 auto;
	background: #239FDB; //#1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #239FDB; //16a085;
	border-width: 1px 1px 3px;
	//margin-bottom: 10px;
	  text-decoration: none;
}

a.myButton456:hover { 
background: #1C81B2; //109177;
  text-decoration: none;
}

a.newUser {
  background: #F47611;
  background-image: -webkit-linear-gradient(top, #F4761f, #e5a100);
  background-image: -moz-linear-gradient(top, #F4761f, #e5a100);
  background-image: -ms-linear-gradient(top, #F4761f, #e5a100);
  background-image: -o-linear-gradient(top, #F4761f, #e5a100);
  background-image: linear-gradient(to bottom, #F4761f, #e5a100);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #f7f7f7;
  text-align: center; 
  font-family: Georgia;
  color: #000;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #b59848 1px;
  text-decoration: none;
  cursor: pointer;
}

a.newUser:hover { 
  background: #EDDA11;
  background-image: -webkit-linear-gradient(top, #f7e754, #F2B210);
  background-image: -moz-linear-gradient(top, #f7e754, #F2B210);
  background-image: -ms-linear-gradient(top, #f7e754, #F2B210);
  background-image: -o-linear-gradient(top, #f7e754, #F2B210);
  background-image: linear-gradient(to bottom, #f7e754, #F2B210);
  text-decoration: none;
}

a.more-2 {
  background: #F4DF11;
  background-image: -webkit-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: -moz-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: -ms-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: -o-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: linear-gradient(to bottom, #F4DF1f, #e5a100);

  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #f7f7f7;
  text-align: center; 
  font-family: Georgia;

//border: none;
	font-family: inherit;
	//font-size: 14px;
     //   height: 40px;
      //  width: 250px;

  color: #000;
 // width: 250px;
  font-size: 14px;
  padding: 10px 10px 10px 10px;
//  border: solid #b59848 1px;
  text-decoration: none;
  cursor: pointer;
}

a.more-2:hover { 
 background: #EDDA11;
 background-image: -webkit-linear-gradient(top, #f7e754, #F2B210);
 background-image: -moz-linear-gradient(top, #f7e754, #F2B210);
  background-image: -ms-linear-gradient(top, #f7e754, #F2B210);
  background-image: -o-linear-gradient(top, #f7e754, #F2B210);
  background-image: linear-gradient(to bottom, #f7e754, #F2B210);

//color: #fff;
//  border-color: #1b7aa9;
//  background-color: #239fdb;
  text-decoration: none;
}

a.pricing-2 {
  background: #F4DF11;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #A6A6A6);
  background-image: -moz-linear-gradient(top, #f2f2f2, #A6A6A6);
  background-image: -ms-linear-gradient(top, #f2f2f2, #A6A6A6);
  background-image: -o-linear-gradient(top, #f2f2f2, #A6A6A6);
  background-image: linear-gradient(to bottom, #f2f2f2, #A6A6A6);

  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #f7f7f7;
  text-align: center; 
  font-family: Georgia;


	font-family: inherit;
	

  background: #bdc3c7;
  color: #444444;
  font-size: 17px;
  margin-left:25px;
  margin-top:40px;
padding: 10px 15px 10px 15px;
 border: 1px solid #888888;

  text-decoration: none;
  cursor: pointer;
}

a.pricing-2:hover { 
 background: #EDDA11;
 background-image: -webkit-linear-gradient(top, #f7e754, #F2B210);
 background-image: -moz-linear-gradient(top, #f7e754, #F2B210);
  background-image: -ms-linear-gradient(top, #f7e754, #F2B210);
  background-image: -o-linear-gradient(top, #f7e754, #F2B210);
  background-image: linear-gradient(to bottom, #f7e754, #F2B210);

//color: #fff;
//  border-color: #1b7aa9;
//  background-color: #239fdb;
  text-decoration: none;
}

a.active123 {
//background-color: #d3d2d1;

 font-weight: bold;
//padding: 1px 3px 2px 2px;
color: #b15b1c; 
//font-size: 16px;
//border-radius: 2px;
}


.btn1 {
  background: #F4DF11;
  background-image: -webkit-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: -moz-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: -ms-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: -o-linear-gradient(top, #F4DF1f, #e5a100);
  background-image: linear-gradient(to bottom,#F4DF1f, #e5a100);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #f7f7f7;
  text-align: center; 
  font-family: Georgia;
  color: #000;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #b59848 1px;
  text-decoration: none;
  cursor: pointer;
}



/* General button style (reset) */

.btn-redirect {
	border: none;
	font-family: inherit;
	font-size: 28px;
        height: 100px;
        width: 100%;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 50px;
	//display: inline-block;
	//margin: 15px 20px;
	letter-spacing: 1px;
	font-weight: 250;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
color: #000000;
float: auto;

}

.btn-redirect:after {
	content: '';
	position: relative;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 20px;
	display: inline-block;
	margin: 15px 20px;
	letter-spacing: 1px;
	font-weight: 250;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
color: #000000;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn1:hover {
  background: #EDDA11;
  background-image: -webkit-linear-gradient(top, #f7e754, #F2B210);
  background-image: -moz-linear-gradient(top, #f7e754, #F2B210);
  background-image: -ms-linear-gradient(top, #f7e754, #F2B210);
  background-image: -o-linear-gradient(top, #f7e754, #F2B210);
  background-image: linear-gradient(to bottom, #f7e754, #F2B210);
  text-decoration: none;
}


/* Button 4 */
.btn-4 {
	border-radius: 50px;
	border: 2px solid #fff;
	color: #fff;
	overflow: hidden;
}

.btn-4:active {
	border-color: #43A3CF;
	color: #43A3CF;
}

.btn-4:hover {
	background: #4A4947;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-4:active:before {
	color: #17954c;
}

/* Button 4a */
.btn-4a:before {
	left: 130%;
	top: 0;
}

.btn-4a:hover:before {
	left: 80%;
}

/* Button 4b */
.btn-4b:before {
	left: -50%;
	top: 0;
}

.btn-4b:hover:before {
	left: 10%;
}

/* Button 4c */
.btn-4c:before {
	left: 70%;
	opacity: 0;
	top: 0;
}

.btn-4c:hover:before {
	left: 80%;
	opacity: 1;
}

/* Button 4d */
.btn-4d:before {
	left: 30%;
	opacity: 0;
	top: 0;
}

.btn-4d:hover:before {
	left: 10%;
	opacity: 1;
}

/* Set the slider height */
@media only screen and (min-width:981px) {
    .et_pb_slider, .et_pb_slider .et_pb_container { 
        height: 550px; 
    }
    .et_pb_slider, .et_pb_slider .et_pb_slide { 
        max-height: 550px; 
    }
    .et_pb_slider .et_pb_slide_description { 
        position: relative; 
        top: 25%; 
        padding-top: 0 !important; 
        padding-bottom:0 !important; 
        height:auto !important; 
    }
}

.post_box_img_small { 
        width: 100%;
        max-width: 90px;
        height: 53px;
	padding: 1px; 
        border: 1px solid #bbb; 
	//margin-bottom: 15px; 
       //margin: 0px; 
       float:left;
       margin:0px 5px 15px 0px;
}

.post_box_img { 
        width: 100%;
        max-width: 224px;
        height: 126px;
	padding: 1px; 
        border: 1px solid #bbb; 
	//margin-bottom: 15px; 
       //margin: 0px; 
       float:left;
       margin:0px 5px 15px 0px;
}

.post_box_img img {
   width: 100%;
   height: 100%;
}

.pagging { 
	margin: 0 0 20px; 
	padding: 0; 
}

.pagging ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.pagging ul li { 
	margin: 0; 
	padding: 0; 
	display: inline; 
}

.pagging ul li a { 
	float: left; 
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background-color: #EEEEEE; 
	border: 1px solid #CCCCCC; 
}

.pagging ul li a:hover { 
	background: #e5a100; 
	color: #fff;  
}

.loading2{
	visibility:hidden;
}

.dottedhr {
  border: 1px dashed rgb(153,153,153); 
  border-style: none none dashed; 
  color: #fff; 
  background-color: #fff;
  margin-top:15px;
}

.solidhr {
  border: 1px solid rgb(200,200,200); 
  border-style: none none solid; 
  color: #fff; 
  background-color: #fff;
  margin-top:15px;
}

.solidcolorhr {
  border: 2px solid rgb(200,200,200); 
  border-style: none none solid; 
  color: #f00; 
  background-color: #e5a200;
  margin-top:15px;
}
.solidhr300 {
  border: 1px solid rgb(200,200,200); 
  border-style: none none solid; 
  color: #fff; 
  background-color: #fff;
  margin-top:15px;
  width:600px;
}

.dottedhr600 {
  border: 1px dashed rgb(100,100,100); 
   border-style: none none dashed; 
  color: #fff; 
  background-color: #fff;
  margin-top:15px;
  width: 100%;
}

.solidhr795 {
  border: 1px solid rgb(200,200,200); 
  border-style: none none solid; 
  color: #fff; 
  background-color: #fff;
  margin-top:15px;
  margin-left:0px;
  width: 100%;
}

.solidhr650 {
  border: 1px solid rgb(200,200,200); 
  border-style: none none solid; 
  color: #fff; 
  background-color: #fff;
  margin-top:15px;
  width: 100%;
}

.solidhr175 {
  border: 1px solid rgb(200,200,200); 
  border-style: none none solid; 
  color: #fff; 
  background-color: #fff;
  margin-top:5px;
  margin-left:0px;
  width: 100%;
}

.solidhr355 {
  border: 1px solid rgb(200,200,200); 
  border-style: none none solid; 
  color: #fff; 
  background-color: #fff;
  margin-top:15px;
  margin-left:90px;
width: 355px;
}

.dottedhr-green {
  border: 2px dashed rgb(153,15,153); 
  border-style: none none dashed; 
  color:  #fff;
  background-color: #fff;
  margin-top:15px;
  width: 300px;
}

.listView{
        -moz-user-select:none;
        position:relative;
      }

      .listView ul{
        margin:5 0 0 -1.5em;
        padding:0 0 0 1.5em;
      }

      .listView ul ul{
        background:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-contents-disable.png') repeat-y left;
      }

      .listView li.lastChild > ul{
        background-image:none;
      }

      .listView li{
        margin:1 0 0 20;
        padding:0;
        //background:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-root-disable.png') no-repeat top left;
       list-style-position: outside;
        list-style-image:url('http://www.healthprez.com/healthprez/images/nested-list/button2.png');
        cursor:auto;
        text-align:left
      }


      .listView li.collapsibleListOpen{
        list-style-image:url('http://www.healthprez.com/healthprez/images/nested-list/button-open.png');
        cursor:pointer;
      }

      .listView li.collapsibleListClosed{
        list-style-image:url('http://www.healthprez.com/healthprez/images/nested-list/button-closed.png');
        cursor:pointer;
      }

      .listView li li{
        background-image:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-disable.png');
        padding-left:1.5em;
      }

      .listView li.lastChild{
  margin:5 0 0 0;
        padding:0;
        background-image:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-last-disable.png');
      }

      .listView li.collapsibleListOpen{
        background-image:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-open-disable.png');
      }

      .listView li.collapsibleListOpen.lastChild{
        background-image:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-last-open-disable.png');
      }

 .treeView{
        -moz-user-select:none;
        position:relative;
      }

      .treeView ul{
        margin:0 0 0 -0.5em;
        padding:0 0 0 0.5em;
      }

      .treeView ul ul{
        background:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-contents-disable.png') repeat-y left;
      }

      .treeView li.lastChild > ul{
        background-image:none;
      }

      .treeView li{
        margin:0 0 0 0px;
        padding:0px 0px 0px 0px;
        background:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-root-disable.png') no-repeat top left;
        list-style-position:inside;
        list-style-image:url('http://www.healthprez.com/healthprez/images/nested-list/button2.png');
        // list-style-image:url('http://www.healthprez.com/healthprez/images/selected12.png');
        cursor:auto;
      }

      .treeView li.active{
        margin:0 0 0 0;
        padding:0px 0px 0px 0px;
        background:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-root-disable.png') no-repeat top left;
        list-style-position:inside;
        //list-style-image:url('http://www.healthprez.com/healthprez/images/nested-list/button2.png');
         list-style-image:url('http://www.healthprez.com/healthprez/images/selected12.png');
        cursor:auto;
       
      }

      .treeView li.collapsibleListOpen{
        list-style-image:url('http://www.healthprez.com/healthprez/images/nested-list/button-open.png');
        cursor:pointer;
      }

      .treeView li.collapsibleListClosed{
        list-style-image:url('http://www.healthprez.com/healthprez/images/nested-list/button-closed.png');
        cursor:pointer;
      }

      .treeView li li{
        background-image:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-disable.png');
        padding-left:3.5em;
      }

      .treeView li.lastChild{
  margin:5 0 0 0;
        padding:0;

        background-image:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-last-disable.png');
      }

      .treeView li.collapsibleListOpen{
        background-image:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-open-disable.png');
      }

      .treeView li.collapsibleListOpen.lastChild{
        background-image:url('http://www.healthprez.com/healthprez/images/nested-list/list-item-last-open-disable.png');
      }

.simple_list {
        margin:0 0 0 0px;
        padding:0 0 0 0px;
 }

.simple_list  ul{
        margin:0 0 0 0px;
        padding:0 0 0 0px;
 }

.simple_list li { 
	color:#555; 
	margin-bottom: 0px; 
list-style-image:url('http://www.healthprez.com/healthprez/images/nested-list/button2.png');
}

.simple_list2 {
        margin:0 30 0 0px;
        padding:0 0 0 0px;
 }

.simple_list2  ul{
        margin:0 30 0 0px;
        padding:0 0 0 0px;
 }

.simple_list2 li { 
        list-style-type: circle;
	color:#f00; 
        margin:0 30 0 0px;
}

.simple_list_sidebar {
        margin:0 0 20 -12px;
        padding:0 0 0 0px;
 }

.simple_list_sidebar  ul{
        margin:0 0 0 0px;
        padding:0 0 0 0px;
 }

.simple_list_sidebar li { 
	color:#f00; 
       list-style-position: outside;
        list-style-image:url('http://www.healthprez.com/healthprez/images/nested-list/button2.png');
        margin:0 0 -5 29px;
}

.numbered_list {
        margin:0 0 0 0px;
        padding:0 0 0 0px;
 }

.numbered_list  ul{
        margin:0 0 0 0px;
        padding:0 0 0 0px;
 }

.numbered_list li { 
	//color:#ff0000; 
	margin: 0 0 0 20px; 
	list-style-type:decimal;
}

.movie_list {
        margin:0 0 0 0 0px;
        padding:0 0 0 0px;
 }

.movie_list  ul{
        margin:0 0 0 0px;
        padding:0px 0px 0px 0px;
 }

.movie_list li { 
	color:#555; 
        padding:0px 0px 10px 0px;
list-style-image:url('http://www.healthprez.com/healthprez/images/movie-clip16.png');
}

.movie_list2 {
        margin:0 0 0 0 30px;
        padding:0 0 0 0px;
 }

.movie_list2  ul{
       list-style-type:disc;
        margin:0 0 0 30px;
        padding:0px 0px 0px 0px;
 }

.movie_list2 li { 
	color:#555; 
        padding:0px 0px 5px 30px;
list-style-type: circle;
}

.quiz_list {
        margin:0 0 0 0 0px;
        padding:0 0 0 0px;
 }

.quiz_list  ul{
        margin:0 0 0 0px;
        padding:0 0 0 0px;
 }

.quiz_list li { 
	color:#555; 
        margin:0 0 0 20px;
        padding:0px 0px 5px 0px;
list-style-image:url('http://www.healthprez.com/healthprez/images/quiz-icon16.png');
}

.attachment_list {
        margin:0 0 0 0 0px;
        padding:0 0 0 0px;
 }

.attachment_list  ul{
        margin:0 0 0 0px;
        padding:0 0 0 0px;
 }

.attachment_list li { 
	color:#555; 
        margin:0 0 0 20px;
        padding:0px 0px 5px 0px;
list-style-image:url('http://www.healthprez.com/healthprez/images/download-icon16.png');
}

.myclickablefilesbox {
	background:#f5f5f5; 
	border-radius:2px;
	padding:10px 10px 10px 10px; 
	box-shadow: 0px 1px 3px #999999;
}

.myclickablefilesbox:hover { 
 background: #EAEAEA;
 background-image: -webkit-linear-gradient(top, #E5E3E3, #E5E3E3);
 background-image: -moz-linear-gradient(top, #E5E3E3, #E5E3E3);
  background-image: -ms-linear-gradient(top, #E5E3E3, #E5E3E3);
  background-image: -o-linear-gradient(top, #E5E3E3, #E5E3E3);
  background-image: linear-gradient(to bottom, #E5E3E3, #E5E3E3);
 cursor: pointer;
  text-decoration: none;
}

.myfilesbox {
	background:#f5f5f5; 
	border-radius:2px;
	padding:10px 10px 10px 10px; 
	box-shadow: 0px 1px 3px #999999;
}

.myfilesbox_admin {
	//background:#333333;
        
	border-radius:2px;
	padding:10px 10px 10px 10px; 
	box-shadow: 0px 1px 3px #999999;
}

.uploadbox {
       // width:600px;
	//background:#fefefe; 
border:1px;
border-color:#eee #ccc #ccc #eee;
  //      background:#eeeeee; 
	border-radius:2px;
	padding:10px 10px 10px 10px; 
	box-shadow: 0px 1px 3px #999999;
}

.questionbox {
       // width:600px;
	//background:#fefefe; 
border:1px;
border-color:#eee #ccc #ccc #eee;
  background:#f2f2f2; 
	border-radius:2px;
	padding:10px 10px 10px 10px; 
	box-shadow: 1px 1px 1px #999999;
}

.createquizbox {
       // width:600px;
	//background:#fefefe; 
//border:1px;
//border-color:#eee #ccc #ccc #eee;
       background:#eeeeee; 
	border-radius:2px;
	padding:10px 10px 10px 10px; 
	box-shadow: 0px 1px 3px #999999;
}

.editquizbox {
       // width:600px;
	background:#fefefe; 
	border-radius:2px;
	padding:10px 10px 10px 10px; 
	box-shadow: 0px 1px 3px #999999;
}

.viewerbox {
	background:#f2f2f2; 
	border-radius:2px;
	padding:20px 10px 10px 10px; 
	box-shadow: 0px 1px 3px #999999;
       // width: 200px;
}

.quizbox {
	background:#f6f6f6; 
	border-radius:2px;
	padding:10px 10px 10px 10px; 
	box-shadow: 0px 1px 3px #999999;
}

.myfilesbox_lesson {
border-radius:2px;
padding:10px 10px 10px 10px; 
box-shadow: 1px 1px 3px #999999;
//height:100%;
height: 100px;
width:100%;
border-width: 2px;
background: #fafafa;
}

.myfilesbox_quiz {
border-radius:2px;
padding:10px 10px 10px 10px; 
box-shadow: 1px 1px 3px #999999;
//height:100%;
height: 100px;
width:100%;
border-width: 2px;
background: #FFF5EE; //#FAF0E6;
}

.myfilesbox_student {
	//background:#ffaaaa; 
        background:#fafafa; 
	border-radius:2px;
	padding:10px 10px 10px 10px; 
	box-shadow: 1px 1px 3px #999999;
      // height:100%;
       height: 120px;
        width:100%;
        border-width: 2px;
}
#circle2 {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    background: #f5f5f5;
    border:1px solid #d5d5d5;
    position: relative;
    left:5px;
    top: -100px;
}

#circle2new {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    background: #f5f5f5;
    border:1px solid #d5d5d5;
    position: relative;
    left:5px;
    top: -100px;
}

#circle21 {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    background: #73AC65;
    border:1px solid #d5d5d5;
    position: relative;
    left:5px;
    top: -100px;
}

#circle22 {
    width: 10px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
        border-radius: 20px 0 0 20px;
    background: #73AC65;
    border:1px solid #73AC65;
    position: relative;
    left:5px;
    top: -100px;
}

#halfCircleLeft{
     height:20px;
     width:10px;
    border-radius: 10px; 
     background:73AC65;
    position: relative;
    left:5px;
    top: -100px;
}

#vr2  {	
    height:80px;
    height:100%;
    //width:1px;
    margin:5px;
    background: #d5d5d5;
    position: relative;
    left: 25px;
   top: -15px;
}

#vr2new  {	
    height:100px;
   //height:100%;
    width:1px;
    margin:5px;
   background: #d5d5d5;
 //background-color: #ff0000;
    position: relative;
    left: 10px;
    top: -16px;
}

#vr2student  {	
    height:60px;
    width:1px;
    margin:5px;
    background: #d5d5d5;
    position: relative;
    left: 10px;
    top:20px;
}

#vr2student  {	
    height:100px;
   //height:100%;
    width:1px;
    margin:5px;
    background: #d5d5d5;
    position: relative;
    left: 10px;
    top: -16px;
}

#text2 {
    font-size: 16px;
    width:80%;
    position: relative;
    left: 35px;
    top: -125px;
color: #e5a100; 
}

#text2new {
    font-size: 16px;
    width:100%;
    position: relative;
    left: -20px;
    top: -10px;
color: #e5a100; 
}

.text21 {
    font-size: 12px;
   width:580px; //100%;
    position: relative;
    left: 0px;
    top: 0px;
    color: #444444; 
}

#passimg2 {
    position: relative;
    left: 20px;
    top:10px;
    //background: url(http://www.healthprez.com/healthprez/images/pass.png); 
}

tabs-nohdr { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
tabs-nohdr .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
tabs-nohdr .ui-tabs-panel { 
    background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
}


	#wrapper {
		width:830px;
		height:175px;
		margin:0px auto;
		border:1px solid #bbb;
		padding:0px;
	}
	#header {
		border:1px solid #bbb;
		height:80px;
		padding:10px;
	}
	#content {
		margin-top:10px;
		margin-left:10px;
		padding-bottom:10px;
	}
	#content div {
		padding:10px;
		border:1px solid #bbb;
		float:left;
	}
	#content-left {
		width:180px;
		height:135px;
	}
	#content-main {
		margin-left:10px;
                padding-top:10px;
		width:576px;
		height:50px;
	}
       #content-sub {
		margin-left:10px;
		width:576px;
		height:70px;
	}
	#content-box1, #content-box2, #content-box3 {
		padding:10px;
		border:1px solid #bbb;
		position:absolute;
		margin-top:190px;
		height:120px;
	}
	
	#content-box1 {
		margin-left:212px;
		width:200px;
	}
	#content-box2 {
		margin-left:444px;
		width:200px;
	}
	#content-box3 {
		margin-left:676px;
		width:202px;
	}
	#footer {
		float:left;
		margin-top:10px;
		margin-bottom:10px;
		padding:10px;
		border:1px solid #bbb;
		width:878px;
	}
	#bottom {
		clear:both;
		text-align:right;
	}


.demo.tabs {
font-family:helvetica,arial,sans-serif;
font-size:13px;
}
.demo.tabs a {
-moz-border-radius:5px 5px 0 0;
background-color:#ddd;
background-image:-moz-linear-gradient(#f0f0f0,#ddd);
background-image:-ms-linear-gradient(#f0f0f0,#ddd);
background-image:-webkit-linear-gradient(#f0f0f0,#ddd);
background-image:linear-gradient(#f0f0f0,#ddd);
background-repeat:repeat-x;
border:1px solid #555;
border-color:#eee #ccc #ccc #eee;
border-radius:5px 5px 0 0;
color:#333;
float:left;
padding:5px 15px;
text-decoration:none;
}
.demo.tabs a:hover {
background-color:#ddd;
background-image:-moz-linear-gradient(#e0e0e0,#ccc);
background-image:-ms-linear-gradient(#e0e0e0,#ccc);
background-image:-webkit-linear-gradient(#e0e0e0,#ccc);
background-image:linear-gradient(#e0e0e0,#ccc);
background-repeat:repeat-x;
}
.demo.tabs li {
bottom:-1px;
float:left;
margin:0 3px 0 0;
position:relative;
}
.demo.tabs li.current a {
background:#fff;
border-bottom:1px solid #fff;
}
.demo.tabs li.current a:hover {
background:#fff;
border-bottom:1px solid #fff;
}
.demo.tabs nav {
border-bottom:1px solid #ccc;
padding:0 0 0 10px;
zoom:1;
}
.demo.tabs nav:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
.demo.tabs ul {
list-style:none;
margin:0;
padding:0;
}

.demo.tabs2 {
font-family:helvetica,arial,sans-serif;
font-size:13px;
}
.demo.tabs2 a {
-moz-border-radius:0 0 5px 5px;
background-color:#ddd;
background-image:-moz-linear-gradient(#f0f0f0,#ddd);
background-image:-ms-linear-gradient(#f0f0f0,#ddd);
background-image:-webkit-linear-gradient(#f0f0f0,#ddd);
background-image:linear-gradient(#f0f0f0,#ddd);
background-repeat:repeat-x;
border:1px solid #555;
border-color:#eee #ccc #ccc #eee;
border-radius:0 0 5px 5px;
color:#333;
float:left;
padding:5px 15px;
text-decoration:none;
}
.demo.tabs2 a:hover {
background-color:#666;
background-image:-moz-linear-gradient(#e0e0e0,#666);
background-image:-ms-linear-gradient(#e0e0e0,#666);
background-image:-webkit-linear-gradient(#e0e0e0,#666);
background-image:linear-gradient(#e0e0e0,#666);
background-repeat:repeat-x;
}
.demo.tabs2 li {
//bottom:-1px;
float:left;
margin:0 3px 0 0;
position:relative;
}
.demo.tabs2 li.current a {
background:#fff;
border-bottom:1px solid #33333;
}
.demo.tabs2 li.current a:hover {
background:#fff;
border-bottom:1px solid #333333;
}
.demo.tabs2 nav {
border-top:1px solid #ccc;
//border-bottom:1px solid #ccc;
padding:0 0 0 10px;
zoom:1;
}
.demo.tabs2 nav:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
.demo.tabs2 ul {
list-style:none;
margin:0;
padding:0;
}


.textlink {
       color: #e5a100; 
	font-weight: normal; 
	text-decoration: none;
}

.textlink:visited {
       color: #e5a100; 
	font-weight: normal; 
	text-decoration: none;
}

.textlink:hover {
       color: #e5a100; 
	font-weight: normal; 
	text-decoration: none;
}






#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
color: #666666;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  line-height: 1;
}
#cssmenu > ul {
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  text-decoration: none;
 
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
// color: #666666;
}

//#cssmenu > ul > li > a:hover,
//#cssmenu > ul > li:hover > a,
//#cssmenu > ul > li:active > a,
//#cssmenu > ul > li.selected > a {
//  color: #e5a100;
//}

#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #fd8a17;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}


#primary-navigation .current-page-ancestor {
    background-color: #677282;
    font-weight: 900;
}

/* CSSTerm.com Simple CSS menu */

.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
}

.menu_simple ul li a {
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color: #005555;
    display:block;
}
 
.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #5FD367;
}
.menu_simple a.active {
  background-color: #ddd;
  color: #fff;
  cursor: default;
}

.custom-select {

    background: #eeeeee;
    padding: 2px;
    color: #333;
    border: 1px solid #cccccc;
    font-size: 13px;

}

.custom-select select {
        display: inline-block;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font: inherit;
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background: #000;
        color:white;
        border:0;
    }




    /* Select arrow styling */
    .custom-select:after {
        content: "▼";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        background: #000;
        color: #333333;
    }

    .no-pointer-events .custom-select:after {
        content: none;
    }



/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{
	background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

/*specific classes related to Checkbox skins*/

.lite-green-check{background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png);}
.lite-blue-check{background-image:url(http://csscheckbox.com/checkboxes/lite-blue-check.png);}
.lite-gray-check{background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png);}
.lite-cyan-check{background-image:url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);}
.lite-orange-check{background-image:url(http://csscheckbox.com/checkboxes/lite-orange-check.png);}
.lite-red-check{background-image:url(http://csscheckbox.com/checkboxes/lite-red-check.png);}

.lite-x-cyan{background-image:url(http://csscheckbox.com/checkboxes/lite-x-cyan.png);}
.lite-x-gray{background-image:url(http://csscheckbox.com/checkboxes/lite-x-gray.png);}
.lite-x-blue{background-image:url(http://csscheckbox.com/checkboxes/lite-x-blue.png);}
.lite-x-orange{background-image:url(http://csscheckbox.com/checkboxes/lite-x-orange.png);}
.lite-x-red{background-image:url(http://csscheckbox.com/checkboxes/lite-x-red.png);}
.lite-x-green{background-image:url(http://csscheckbox.com/checkboxes/lite-x-green.png);}

.mac-style{background-image:url(http://csscheckbox.com/checkboxes/mac-style.png);}
.mario-style{background-image:url(http://csscheckbox.com/checkboxes/mario-style.png);}
.alert-style{background-image:url(http://csscheckbox.com/checkboxes/alert-style.png);}
.lite-plus{background-image:url(http://csscheckbox.com/checkboxes/lite-plus.png);}
.dark-plus{background-image:url(http://csscheckbox.com/checkboxes/dark-plus.png);}
.dark-plus-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-cyan.png);}
.dark-plus-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-orange.png);}
.dark-check-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png);}
.dark-check-green{background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);}
.dark-check-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-check-orange.png);}


.depressed-lite-small{background-image:url(http://csscheckbox.com/checkboxes/depressed-lite-small.png);}
.elegant{background-image:url(http://csscheckbox.com/checkboxes/elegant.png);}
.depressed{background-image:url(http://csscheckbox.com/checkboxes/depressed.png);}
.chrome-style{background-image:url(http://csscheckbox.com/checkboxes/chrome-style.png);}
.web-two-style{background-image:url(http://csscheckbox.com/checkboxes/web-two-style.png);}
.vlad{background-image:url(http://csscheckbox.com/checkboxes/vlad.png);}
.klaus{background-image:url(http://www.healthprez.com/healthprez/images/klaus.png);}

input[type=checkbox].css-checkbox.med + label.css-label.med {
	padding-left:22px;
    height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
	padding-left:22px;
    height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left:22px;
    height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}

	.custom-radio{
		width: 16px;
		height: 17px;
		display: inline-block;
		position: relative;
		z-index: 1;
		top: 3px;
		background: url("http://www.healthprez.com/healthprez/images/radio-box.png") no-repeat;
	}
	.custom-radio:hover{            
		background: url("http://www.healthprez.com/healthprez/images/radio-box-hover.png") no-repeat;
	}
	.custom-radio.selected{
		background: url("http://www.healthprez.com/healthprez/images/radio-box-selected.png") no-repeat;
	}
	.custom-radio input[type="radio"]{
		margin: 1px;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}
    
    /* Let's Beautify Our Form */
    form{
        margin: 20px;
    }
    label{
        display: block;
        padding: 2px 0;
    }
    input[type="submit"]{
        float: left;
        background: #f2f2f2;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        margin-top: 20px;
        padding: 4px 10px;
        cursor: pointer;
        outline: none;

    }
	input[type="submit"]:hover{
        color: #fff;
        border-color: #1b7aa9;
        background-color: #239fdb;
    }

    input[type="reset"]{
        float: left;
        background: #f2f2f2;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        margin-top: 20px;
        padding: 4px 10px;
        cursor: pointer;
        outline: none;
    }
	input[type="reset"]:hover{
        color: #fff;
        border-color: #1b7aa9;
        background-color: #239fdb;
    }

.verticalLine {
    border-left: 1px solid rgb(200,200,200); 
    padding: 0px 5px 0px 0px;
}

#dialog-window {
  height: 380px;
  border: 1px black solid;
background:#ffffff; 
	border-radius:2px;
	padding:20px 10px 10px 10px; 
}

#scrollable-content1 {
  height: 340px;
  overflow: auto;
//background-color: black;
}

.mainviewbox {
	background:#ededed; 
	border-radius:2px;
	padding:20px 10px 10px 10px; 
        height: 380px;
        border: 0px black solid;
	//box-shadow: 0px 1px 3px #999999;
}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#e5e5e5;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#cccccc");	background: -o-linear-gradient(top,#cccccc,cccccc);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#cccccc");	background: -o-linear-gradient(top,#cccccc,cccccc);

	background-color:#cccccc;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.accordion_2 {
	width: 95%;
	margin: 0em 0em;
}

.accordion_2 h52 {
	background: url(http://www.healthprez.com/healthprez/images/plus.png) no-repeat right center #eee;
    border: 1px solid #EEEEEE;
    color: #666;
    display: block;
    //font-size: 1.5em;
    //font-weight: bold;
 margin: -1px 0 10 !important;
    padding: 1em 1em;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.accordion_2 p {
	font-size: 14px;
	line-height: 1.4em;
	padding: 10px;
}

.accordion_2 h52.active {
	background: url(http://www.healthprez.com/healthprez/images/delete.png) no-repeat right center #ddd;
}

.accordion_2 h52:hover {
	background-color: #ddd;
	color: #e5a100;
	border: 1px solid #EEEEEE;
	cursor: pointer;
}

.accordion_2 div {
	padding:5px 20px;
}

#custom_login  {
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	padding: 8px 5px;
        margin: 0 auto
	width: 400px;
	//display:inline-block;
	color:#646464;
	font-size: 16px;
}

#custom_login input[type="text"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}

#custom_login .input {
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	padding: 8px 5px;
        margin: 0 auto
	width: 300px;
	//display:inline-block;
	color:#646464;
	font-size: 16px;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}
ul.input-list li {
  display: block;
  padding: 0 10px;
  width: 50%;
  float: left;
}

@media all and (max-width: 800px) {
  ul.input-list {
    margin: 0;
  }
  ul.input-list li {
    padding: 0;
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
/* ============================================================
  STYLE 1
============================================================ */
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus, .style-1 input[type="text"].focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

#cpwrapper {
		width:1000px;
		margin:0px auto;
		border:1px solid #bbb;
		padding:0px;
	}
	

	#content-box1 {
                padding:0px;
		border:1px solid #bbb;
		position:relative;
		margin-top:0px;
		height:auto; //120px;
		margin-left:0px;
		width:700px;
	}
	#content-box2 {
		padding:0px;
		border:1px solid #bbb;
		position:absolute;
		margin-top:0px;
		height:auto; //120px;
		margin-left:700px;
		width:300px;
	}

#quiz_form { 
	padding: 0; 
	width: 450px; 
}

#quiz_form form { 
	margin: 0px; 
	padding: 0px; 
}

#quiz_form form .input_field { 
	width: 300px; 
	padding: 5px; 
	color: #222; 
	border: 1px solid #a7a7a7;  
	background: #e8e8e8; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#quiz_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 10px; 
	font-size: 12px; 
}

#quiz_form form textarea { 
	width: 438px; 
	height: 200px; 
	padding: 5px; 
	border: 1px solid #a7a7a7;  
	background: #e8e8e8; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#quiz_form form .submit_btn { 
	margin: 10px 0px;
	padding: 5px 14px;
	color: #222; 
	border: 1px solid #a7a7a7;  
	background: #e8e8e8; 
	font-size:12px; 
}

#homepagetopsection01 {
	float:left;
	position: relative;
 	left:0px;
	top:30px; 
        margin: 0 auto;
    width: 100%;
font-style: italic;
}
#homepagetopsection02{
	float:left;
	position: relative;
 	left:0px;
	top:40px; 
        margin: 0 auto;
    width: 100%;
font-style: italic;
}
#homepagetopsection03 {
        float:left;
	position: relative;
	left:0px;
	top:50px; 
        margin: 0 auto;
    width: 100%;
font-style: italic;
}
#homepagetopsection04 {
        float:left;
	position: relative;
	left:0px;
	top:60px; 
        margin: 0 auto;
    width: 100%;
font-style: italic;
}
#homepagetopsection05 {
        float:left;
	position: relative;
	left:185px;
	top:-77px; 
        font-size:13px;
font-style: italic;
}


.accordion_3 {
	width: width:100%;
	margin: 0em 0em;
}

.accordion_3 h52 {
	background: url(http://www.healthprez.com/healthprez/images/plus.png) no-repeat right center #eee;
    border: 1px solid #EEEEEE;
    color: #666;
    display: block;
    //font-size: 1.5em;
    //font-weight: bold;
 margin: -1px 0 10 !important;
    padding: 1em 1em;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.accordion_3 p {
	font-size: 14px;
	line-height: 1.4em;
	padding: 10px;
}

.accordion_3 h52.active {
	background: url(http://www.healthprez.com/healthprez/images/delete.png) no-repeat right center #ddd;
}

.accordion_3 h52:hover {
	background-color: #ddd;
	color: #e5a100;
	border: 1px solid #EEEEEE;
	cursor: pointer;
}

.accordion_3 div {
	padding:5px 20px;
}



#navigation ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation ul a.selected
{
//	font-size: 10px;
	line-height: 16px;
	display: inline;
	background-image:url(http://www.healthprez.com/healthprez/images/selected12.png);
	padding-left: 10px;
	background-position:left;
	background-repeat:no-repeat;
	text-decoration: none;
	color: #0099cc;
}

#navigation ul li
{
	background:url(http://www.healthprez.com/healthprez/images/nested-list/button2.png) no-repeat;
	//color: #FFFFFF;
}
#navigation li a
{
	font-size: 13px;
	line-height: 16px;
	display: inline;
	background-image:url(http://www.healthprez.com/healthprez/images/nested-list/button2.png);
	padding-left: 10px;
	background-position:left;
	background-repeat:no-repeat;
	text-decoration: none;
	//color: #FFF;
}
li.selected a
{
	//font-size: 10px;
	line-height: 16px;
	display: inline;
	background-image:url(http://www.healthprez.com/healthprez/images/selected12.png);
	padding-left: 10px;
	background-position:left;
	background-repeat:no-repeat;
	text-decoration: none;
	color: #0099cc;
}
#navigation li a:hover
{
	padding-left: 10px;
	background-image:url(http://www.healthprez.com/healthprez/images/selected12.png);
	background-position:left;
	background-repeat:no-repeat;
	color: #0099cc;
	text-decoration: underline;
}

//*************************************************************************

div.tabbed {
    position: relative;
    font-size: 0;
}

div.tabbed > a {
    display: inline-block;
    padding: .5em;
    font-size: 16px;
    border-radius: 3px 3px 0 0;
    background-color: #333;
    color: #eee;
    text-decoration: none;
    line-height: 1em;
}

div.tabbed > a + a {
    margin-left: .5em;
}

div.tabbed > a:target {
    color: #ff0000;
    background-color: #eee;
}

div.tabbed > a > div {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    padding: .5em;
    border-radius: 0 3px 3px 3px;
    display: none;
    color: #ffff00;
    background-color: #eee;
}

div.tabbed > a:target > div {
    display: block;
}

.verticalLine {
    border-left: thick solid #ff0000;
   height:50px;

}

.centreimg {
    display: block;
    margin: 0 auto; 
}

